sqlalchemy==2.0.35
python-dotenv==1.0.1
fastapi==0.115.5
uvicorn==0.32.1
pandas==2.2.3
openpyxl==3.1.5
python-multipart==0.0.20
pydantic==2.10.6
jinja2==3.1.6
python-jose[cryptography]==3.4.0
passlib==1.7.4
bcrypt==4.2.1
PyJWT==2.10.1
fastapi-utils==0.7.0
typing-inspect==0.9.0
mypy-extensions==1.0.0
slowapi==0.1.9
psutil==5.9.8
fastapi-csrf-protect==1.0.7
pydantic-settings==2.1.0
